@font-face {
  font-family: "TTLakes-Medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/TTLakes-Medium.ttf);
}

@font-face {
  font-family: "TTLakes-Bold";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/TTLakes-Bold.ttf);
}

@font-face {
  font-family: "TTLakes-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/TTLakes-Regular.ttf);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

ul {
  padding: 0 0 0 0;
  list-style: none;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
}

.burger {
  background-image: url(../assets/img/ic/burger.svg);
  margin-right: 16px;
}

.burger-menu.active {
  display: block;
}

.burger-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 320px;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2), 0 0 0 100vw rgba(255, 255, 255, 0.9);
          box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2), 0 0 0 100vw rgba(255, 255, 255, 0.9);
}

.burger-menu__wrapper {
  padding: 24px 24px 32px;
}

.burger-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-menu__close {
  background-image: url(../assets/img/ic/close.svg);
  margin-right: 16px;
  border: none;
}

.burger-menu__search {
  background-image: url(../assets/img/ic/search.svg);
  margin: 0 0 0 auto;
}

.burger-menu__list {
  margin: 20px 0 32px;
}

.burger-menu__item {
  padding-bottom: 24px;
}

.burger-menu__item:hover {
  opacity: 0.4;
}

.burger-menu__item a {
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.burger-menu__item:last-child {
  padding-bottom: 0;
}

.burger-menu__email {
  margin-top: 16px;
}

.burger-menu__email a {
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.burger-menu__phone {
  margin-top: 12px;
}

.burger-menu__phone a {
  font-family: "TTLakes-Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}

.burger-menu__lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.burger-menu__lang-item {
  padding-right: 7px;
}

.page {
  font-family: "TTLakes-Regular", "Arial", sans-serif;
  margin: 0 auto;
  min-width: 320px;
  color: #1b1c21;
  position: relative;
}

.conteiner {
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .conteiner {
    padding: 0 24px;
  }
}

@media (min-width: 1120px) {
  .conteiner {
    padding: 0 34px;
  }
}

.page-header {
  padding: 24px 16px;
  border-bottom: 1px solid #41f6d7;
}

@media (min-width: 768px) {
  .page-header {
    padding: 24px 24px;
  }
}

@media (min-width: 1120px) {
  .page-header {
    display: none;
  }
}

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__logo {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.page-header__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96px;
  position: relative;
}

.page-header__icon-list :first-child::before {
  border-left: 2px solid #eaeaea;
  height: 32px;
  content: '';
  top: 4px;
  left: -20px;
  position: absolute;
}

.about {
  background-color: #f8f8f8;
}

.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-family: "TTLakes-Bold", "Arial", sans-serif;
  font-size: 28px;
  padding: 24px 0;
  letter-spacing: -0.6px;
  position: relative;
}

.about__title::before {
  content: '';
  border-left: 4px solid #41f6d7;
  height: 40px;
  border-radius: 0 4px 4px 0;
  left: -16px;
  position: absolute;
}

@media (min-width: 768px) {
  .about__title::before {
    left: -24px;
  }
}

@media (min-width: 1120px) {
  .about__title::before {
    left: -34px;
  }
}

.about__icon-list {
  display: none;
}

@media (min-width: 1120px) {
  .about__icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 400px;
  }
  .about__icon-list button {
    background-color: #f8f8f8;
    font-size: 16px;
    line-height: 24px;
    width: 176px;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-position: right;
  }
}

.about__services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  font-size: 16px;
  margin: 0 0 24px;
  color: #7e7e82;
}

@media (min-width: 1120px) {
  .about__services-list {
    overflow-x: inherit;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about__services-item {
  margin-right: 20px;
  white-space: nowrap;
  padding: 8px;
}

.about__services-item:hover {
  background-color: #ffffff;
  border: 2px solid #41f6d7;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .about__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__text {
  font-size: 14px;
  margin: 0 0 16px;
}

@media (min-width: 768px) {
  .about__text {
    width: 50%;
    line-height: 20px;
  }
}

.about__text--top {
  margin-bottom: 30px;
}

.about__text--middle {
  display: none;
}

@media (min-width: 768px) {
  .about__text--middle {
    display: inline;
    width: 100%;
  }
}

.about__text--bottom {
  visibility: hidden;
  display: none;
}

@media (min-width: 1120px) {
  .about__text--bottom {
    visibility: visible;
    display: inline;
  }
}

.about__further {
  display: block;
  margin: 16px 0 16px 32px;
  font-size: 16px;
  line-height: 24px;
}

.about__further::before {
  content: url(../assets/img/ic/arr.svg);
  margin-right: 14px;
}

.about__img {
  position: relative;
  height: 230px;
}

@media (min-width: 768px) {
  .about__img {
    height: 260px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-left: 48px;
  }
}

@media (min-width: 1120px) {
  .about__img {
    margin-left: 36px;
    margin-bottom: 50px;
  }
}

.about__img img {
  width: 100vw;
  max-height: 230px;
  position: absolute;
  left: -16px;
}

@media (min-width: 768px) {
  .about__img img {
    position: static;
    width: 100%;
    border-radius: 6px;
    height: 260px;
  }
}

@media (min-width: 1120px) {
  .about__img img {
    max-height: 307px;
  }
}

.modal-icon__icon-item {
  width: 40px;
  height: 40px;
}

.modal-icon__icon-item--tools {
  background-image: url(../assets/img/ic/repair.svg);
}

.modal-icon__icon-item--check {
  background-image: url(../assets/img/ic/checkstatus.svg);
}

.feedback-aicon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.feedback-aicon__item {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  cursor: pointer;
}

.feedback-aicon__item--phone {
  background-image: url(../assets/img/ic/call.svg);
}

.feedback-aicon__item--message {
  background-image: url(../assets/img/ic/chat.svg);
}

.feedback-aicon__item--contact {
  background-image: url(../assets/img/ic/profile.svg);
}
/*# sourceMappingURL=index.css.map */