.modal-icon {
  &__icon-item {
    width: 40px;
    height: 40px;

    &--tools {
      background-image: url(../assets/img/ic/repair.svg);
    }
    &--check {
      background-image: url(../assets/img/ic/checkstatus.svg);
    }
  }
}
